/* Try different box model properties below */

.site-header p {
  color: white;
  margin-bottom: -10px;
}

.site-footer p {
  font-style: 12px;
  text-align: center;
}

.message:nth-child(3) {
  box-shadow: 4px 4px 0 #dba944;
}
