.countries {
  display: flex;
}

/* Add your own CSS code below */

.countries--first .country--brazil{
  order: 1;
}

.countries--second .country--brazil {
  order: 2;
}
.countries--second .country--uganda {
  order: 2;
}

/* .countries--third .country--brazil {
  order: 1;
} */
/* .countries--third .country--croatia {
  order: 4;
} */

/* .countries--third .country--ethiopia{
  order: 1;
} */

/* .countries--third .country--laos{
  order: 0;

} */

.countries--third{
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
}


